header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  position: sticky;
  top: 0;
  background-color: #999999;
}
.title {
  font-size: 4rem;
}
.title-supreme {
  margin: 0 1rem;
  font-style: italic;
}
.score {
  margin: 0 2rem;
}

.instructions {
  padding: 1rem;
  margin: 1rem;
}

main {
  padding: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
.card {
  max-height: 300px;
  max-width: 250px;
  box-shadow: 0 3px 6px #999999, 0 3px 6px #999999;
}

/* animation: */

.shake {
  animation: shake 0.75s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  -webkit-animation: shake 0.75s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}