header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  position: sticky;
  top: 0;
  background-color: #999999;
}
.title {
  font-size: 4rem;
}
.title-supreme {
  margin: 0 1rem;
  font-style: italic;
}

.instructions {
  padding: 1rem;
  margin: 1rem;
}

main {
  padding: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
.card {
  max-height: 300px;
  max-width: 250px;
  box-shadow: 0 3px 6px #999999, 0 3px 6px #999999;
}